:root
{
    /* Layout variables (l) */

    /*
        Padding (pd)
            layout
            header (h)
    */
    --l-pd: 0.5rem 1rem;
    --l-h-pd: 0.5rem 1rem;

    /*
        Minimum width (mnw)
            header
                title
                navigation
                    list-item
                search_form
                    input
                    button
    */
    --l-h-t-mnw: 6rem;
    --l-h-n-li-mnw: 6rem;
    --l-h-sf-i-mnw: 21rem;
    --l-h-sf-b-mnw: 6rem;

    /*  
        Minimum height (mnh)
            header
    */
    --l-h-mnh: 3.2rem;

    /*
        Gap (gp)
        header
            sections
            sub-sections
    */
    --l-h-s-gp: 2rem;
    --l-h-ss-gp: 1rem;

    /*
        Social media links (sml)
            color (c)
                x
                facebook
                instagram
                youtube
    */
    --l-sml-c-x: #195F71;
    --l-sml-c-f: #1A1971;
    --l-sml-c-i: #71196A;
    --l-sml-c-y: #711919;
}

.layout
{
    min-height: 100vh;

    padding: var(--l-pd);

    display: flex;
    flex-direction: column;
}

.layout__header
{
    min-height: var(--l-h-mnh);

    padding: var(--l-h-pd);

    display: flex;
    flex-direction: row;
    gap: var(--l-h-s-gp);

    align-items: center;
}

.layout__header__navigation__list,
.layout__header__search_form,
.layout__header__search_form__controls
{
    display: flex;
    flex-direction: row;
    gap: var(--l-h-ss-gp);
}

.layout__header__title
{
    min-width: var(--l-h-t-mnw);

    white-space: nowrap;

    font-size: 1rem;
}

.layout__header__navigation__list
{
    li
    {
        min-width: var(--l-h-n-li-mnw);
    }

    a
    {
        display: inline-block;

        width: 100%;

        text-align: center;
        color: var(--color-accent);

        &:hover
        {
            text-decoration: underline;
        }
    }
}

.layout__header__search_form
{
    flex: 1;

    label
    {
        position: absolute;
        top: -300px;
        left: 0;
    }

    input
    {
        flex: 1;
        min-width: var(--l-h-sf-i-mnw);
    }

    button
    {
        min-width: var(--l-h-sf-b-mnw);
    }
}

.layout__main
{
    position: relative;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--l-h-ss-gp);

    flex: 1;

    background-image: url('../../images/background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right -70vw top 0%;

    > *
    {
        max-width: calc(70vw - 3rem);
    }
}

.layout__social_media_links
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--l-h-ss-gp);

    li
    {
        padding: var(--padding-control);

        border: none;
        border-radius: var(--border-radius-control);

        /* Twitter */
        &:nth-child(1)
        {
            box-shadow: var(--border-control) var(--l-sml-c-x);
            color: var(--l-sml-c-x);
        }

        /* Facebook */
        &:nth-child(2)
        {
            box-shadow: var(--border-control) var(--l-sml-c-f);
            color: var(--l-sml-c-f);
        }

        /* Instagram */
        &:nth-child(3)
        {
            box-shadow: var(--border-control) var(--l-sml-c-i);
            color: var(--l-sml-c-i);
        }

        /* YouTube */
        &:nth-child(4)
        {
            box-shadow: var(--border-control) var(--l-sml-c-y);
            color: var(--l-sml-c-y);
        }
    }
}

/*
    (6 * 6) + (2 * 2) + (4 * 1) + 21 + 4
*/
@media screen and (max-width: 69rem)
{
    .layout__header
    {
        flex-wrap: wrap;
    }

    .layout__header__search_form
    {
        width: 100%;
    }
}

/*
    (6 * 2) + 2 + 21 + 4
*/
@media screen and (max-width: 39rem)
{
    .layout__header__search_form
    {
        flex-wrap: wrap;
    }

    .layout__header__search_form__controls
    {
        flex: 1;
        justify-content: space-between;
    }
}

/*
    (6 * 4) + 2 + 2 + 4
*/
@media screen and (max-width: 32rem)
{
    .layout__header__title
    {
        flex: 1;
        justify-content: center;
        text-align: center;
    }

    .layout__header__navigation
    {
        flex: 1;
    }

    .layout__header__navigation__list
    {
        justify-content: center;
    }
}

/*
    (6 * 3) + 2 + 4
*/
@media screen and (max-width: 24rem)
{

    .layout__header,
    .layout__header__navigation__list,
    .layout__header__search_form
    {
        flex-direction: column;
    }

    .layout__header__search_form
    {
        input
        {
            width: 100%;
            min-width: unset;
            max-width: unset;
            text-overflow: ellipsis;
        }
    }

    .layout__header__search_form__controls
    {
        flex-wrap: wrap;
    }
}