.contact_us,
.contact_us form
{
    display: flex;
    flex-direction: column;
}

.contact_us
{
    align-items: flex-start;
    gap: 1rem;
}

.contact_us form
{
    align-self: stretch;
    gap: 0.5rem;
}

.contact_us textarea
{
    max-width: 100%;
}