.introduction,
.search_results,
.search_results__list,
.search_results__list__item
{
    display: flex;
    flex-direction: column;
}

.introduction,
.search_results,
.search_results__list
{
    gap: 1rem;
}

.introduction
{
    align-items: flex-start;
}

.search_results__title
{
    font-size: 1rem;
}

.search_results__list__item
{
    position: relative;

    padding-bottom: 0.5rem;

    gap: 0.5rem;

    border: none;
    border-radius: var(--border-radius-control);
    box-shadow: var(--border-control) var(--color-light-primary);
}

.search_results__list__item__image
{
    width: 100%;
    max-height: calc(1.2rem * 10);

    object-position: top;
    object-fit: cover;
}

.search_results__list__item__name,
.search_results__list__item__description
{
    padding: 0 1rem;
}

.search_results__list__item__name
{
    font-weight: bold;
}