#contact-us {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

#contact-us h1,
#contact-us form {
    border-radius: 0.25rem;
}

#contact-us form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5rem;
}

#contact-us textarea {
    max-width: 100%;
}